<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="ion-padding-top ion-text-center">
      RegistraApp
    </ion-title>
    
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <div class="logo">
    <img src="./assets/logo.png" alt="Logo Duoc">
  </div>
  
 <br>

<div class="ion-padding-top ion-text-center">
  <h3>Historial de Asistencia</h3>
</div>

<br>
<ion-card-content>
  <ion-button expand="full" >Program. De Aplicaciones Móviles</ion-button>
  <ion-button expand="full" >Arquitectura</ion-button>
  <ion-button expand="full" >Calidad de Software</ion-button>
  <ion-button expand="full" >Administración de Sistemas</ion-button>
</ion-card-content>
<br>
<div class="boton" >
  <ion-button color="warning" [routerLink]="['/home']">Volver</ion-button>
</div>

</ion-content>
<ion-footer>
  <ion-toolbar color="#000000">
    <ion-img style="height: 50px" src="../../assets/logoDuoc.png"></ion-img>
  </ion-toolbar>
</ion-footer>