<ion-header [translucent]="true">
    <ion-toolbar color="warning">
      <ion-title class="ion-padding-top ion-text-center"> 
        RegistraApp
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" class="ion-padding">
  
    <div class="logo">
      <img src="./assets/logo.png" alt="Logo Duoc">
    </div>
    
   <br>
  
  <div class="ion-padding-top ion-text-center">
    <h3>Recupera tu Contraseña</h3>
  </div>
  <br>
  <form >
    <ion-item>
        <ion-label >Ingresa tu Correo</ion-label>
        <ion-input type="String"></ion-input>
    </ion-item>
    
    <br>
    <div class="recuperar">
        <ion-button color="warning" [routerLink]="['/login']">Volver</ion-button>
        <ion-button color="warning" [routerLink]="['/login']">Recuperar</ion-button>
    </div>
  </form>



  </ion-content>
  
  <ion-footer>
    <ion-toolbar color="#000000">
      <ion-img style="height: 50px" src="../../assets/logoDuoc.png"></ion-img>
    </ion-toolbar>
  </ion-footer>
