<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="ion-padding-top ion-text-center">
      RegistraApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="logo">
    <img src="./assets/logo.png" alt="Logo Duoc">
  </div>
  
  <br>
  
  <div class="saludo">
    <ion-label>Bienvenid@ {{dato}}</ion-label>
</div>

<div class="ion-padding-top ion-text-center">
  <h3>Registra tu Asistencia</h3>
</div>

<ion-card-content>
  <ion-button expand="full" class="clos" (click)="scan()">Programación Aplicaciones Móviles</ion-button>
  <ion-button expand="full" class="clos" (click)="scan()">Arquitectura</ion-button>
  <ion-button expand="full" class="clos" (click)="scan()">Calidad de Software</ion-button>
  <ion-button expand="full" class="clos" (click)="scan()">Administración de Sistemas</ion-button>
  <ion-button color="warning" expand="full" [routerLink]="['/historial']">Historial Asistencia</ion-button>
  <ion-button color="warning" expand="full" [routerLink]="['/contenido']">Mis Contactos</ion-button>
</ion-card-content>
<br>
<div class="boton">
  <ion-button color="warning" (click)="logout()">Cerrar Sesión</ion-button>
</div>



</ion-content>

<ion-footer>
  <ion-toolbar color="#000000">
    <ion-img style="height: 50px" src="../../assets/logoDuoc.png"></ion-img>
  </ion-toolbar>
</ion-footer>