.boton{
  text-align: center;
}
.historial{
  background-color: var(--ion-color-secondary-shade);
}

.saludo{
  text-align: center;
}

.logo{
  text-align: center;
  width: 250px;
  display: block;
  margin: auto;
  
}