<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="ion-padding-top ion-text-center">
      RegistraApp
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true" class="ion-padding">
   
  <div class="logo">
    <img src="./assets/logo.png" alt="Logo Duoc">
  </div>
  
  <br>
  <br>
  <div class="saludo">
    <ion-label>Ingresar Como:</ion-label>
</div>
<br>

<div class="perfil">
<ion-button color="warning" [routerLink]="['/login']">Profesor</ion-button>
<ion-button color="warning" [routerLink]="['/login']">Alumno</ion-button>
</div>


</ion-content>

<ion-footer>
  <ion-toolbar color="#000000">
    <ion-img style="height: 50px" src="../../assets/logoDuoc.png"></ion-img>
  </ion-toolbar>
</ion-footer>